<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Vue.js Game</title>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">You vs Monster</h1>
            <h2 class="subtitle">
                <a target="_blank" href="https://bit.ly/2KYVqTD">Vue.js tutorial</a>
            </h2>
            <div class="columns">
                <div id="you" class="column">
                    <h2 class="subtitle has-text-centered">YOU</h2>
                    <progress class="progress is-success is-large" value="100" max="100" :value="health" :class="{'is-success': green, 'is-danger': red}"></progress>
                </div>
                <div id="rival" class="column">
                    <h2 class="subtitle has-text-centered">Monster</h2>
                    <progress class="progress is-success is-large" value="100" max="100" :value="health" :class="{'is-success': green, 'is-danger': red}"></progress>
                </div>
            </div>

            <div id="start" class="notification buttons has-text-centered are-medium" :class="{'is-hidden': hide}">
                <a @click="startGame" class="button is-primary is-focused">Start</a>
            </div>
            <div id="play" class="notification buttons has-text-centered are-medium" :class="{'is-hidden': hide}">
                <a @click="attack(-15)" class="button is-primary is-focused">Attack</a>
                <a @click="attack(-30)" class="button is-link is-focused">Super-Attack</a>
                <a @click="heal" class="button is-success is-focused">Heal</a>
                <a @click="endGame" class="button is-danger is-focused">Give up</a>
            </div>

            <div id="log">
                <h3 class="has-text-centered"> <strong>LOG</strong> </h3>
            </div>

        </div>
        <div class="container">
            <p>-----------------------------------</p>
            <div id="app-4">
                <ol>
                    <li v-for="todo in todos">
                        {{ todo.text }}
                    </li>
                </ol>
            </div>

            <p>-----------------------------------</p>
            <div id="app-7">
                <ol>
                    <!--
                        Now we provide each todo-item with the todo object
                        it's representing, so that its content can be dynamic.
                        We also need to provide each component with a "key",
                        which will be explained later.
                    -->
                    <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
                </ol>
            </div>

            <ol>
                <!-- Create an instance of the todo-item component -->
                <todo-item></todo-item>
            </ol>


        </div>
    </section>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="script.js"></script>


</html>