.card {
    border-style: solid;
    width: 250px;
    height: 300px;
    padding-top: 15px;
}

#tarjetas{
    display: flex;
    flex-wrap: wrap;
}

#btElim{
    display: block;
    margin: auto 75%;
}