/*

Las clases se marcan con un .(Las clases se usan para delimitar a un grupo específico de elementos) Se pueden agregar varias clases a un mismo elemento
Los ids se marcan con un # (Los ids son únicos)
Las etiquetas se escriben como en el html (Va a tomar a todas esas etiquetas )

*/
.border {
  border: 3px solid black;
  margin: 1px;
}

.border-red {
  border: 2px solid red;
}

/* px = pixeles em = tamaño de fuente del padre default=16px
  porcentaje 100% */

p{
  font-size: 15px;
}